.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 250px;
  height: 400px;
}

.today > .box {
  border-color: var(--brand-primary);
}

.dayName {
  color: #262c30;
  font-size: x-large;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
}

.break {
  width: 60%;
  height: 1px;
  background: #d9d9d9;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  z-index: 20;
  width: 100%;
  height: 80%;
  border: 10px solid transparent;
  border-radius: 25px;

  background: #ffffff;
  /* box-shadow: 17px 17px 32px #d9d9d9, -17px -17px 32px #ffffff; */
  box-shadow: 17px 17px 32px #00000025, -17px -17px 32px #00000009;
}

.date {
  color: #979797;
}

.diet {
  background: var(--brand-primary);
  margin-left: .5em;
  border-radius: 10px;
  padding: 1px 4px 1px 4px;
  font-size: small;
  font-weight: bold;
  color: white;
}