.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--brand-primary);
    width: 100vw;
    height: 20%;
    padding-bottom: 20px;
}
.link {
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    color: white;
    padding: 15px;
    border-radius: 10px;
    transition: 70ms;
}
.link:hover {
    background: var(--brand-primary-dark);
}

.links {
    display: flex;
    gap: 15px;
    list-style-type: none;
    padding: 0px;
}

.header {
    color: white;
}