.navbar {
  position: relative;
  z-index: 10000;
  width: 100vw;
  height: 90px;
}
.logo {
  font-family: 'Montserrat', sans-serif;
  z-index: 10000;
  color: var(--brand-primary);
  margin-left: 20px;
  user-select: none;
}
@media (prefers-color-scheme: dark) {
  .logo {
    text-shadow: 1px 1px 10px rgba(255, 0, 0, 0.4);
  }
}