.rootContainer {
  position: relative;
  width: 100vw;
  height: 430px;
}

.container {
  position: relative;
  width: 100vw;
  height: 430px;
  overflow: hidden;
}

.tabs {
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 17px;
  box-sizing: content-box;
}

.tab {
  display: inline-block;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
}

.tabNames {
  position: relative;
  white-space: nowrap;
  font-size: 30px;
  height: 1.5em;
}
.tabNames h5 {
  /* transition: 200ms left linear; */
  position: absolute;
  display: inline-block;
  width: 100%;
  margin: 0;
}

.tabBox {
  position: absolute;
  background: #ced4da;
  color: black;
  border-radius: 20px;
  margin-left: 20px;
  transform: scale(0.9);
  width: 80%;
  /*Remove the padding*/
  height: calc(100% - 17px);
}

.tabIndicators {
  position: relative;
  top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 10px;
}
.tabIndicator {
  width: 10px;
  height: 10px;
  background: var(--brand-primary);
  border-radius: 100%;
}
.tabIndicatorSelected {
  background: #a4a4a4;
  transform: scale(1.1);
}