@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');

:root {
  --brand-primary: #ff3535;
  --brand-primary-dark: #ca2e2e;
  --ui-text-color: #46464b;
  --ui-bg-color: #f2f4f8;
  --ui-nav-bg-color: #720026;
}
/* @media (prefers-color-scheme: dark) {
  body {
    background: #230808;
  }
} */



html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
  height: 100vh;
}

#__next {
  width: 100vw;
  overflow: hidden;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 40px;
  margin-bottom: 40px;
}

#app {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  background-color: var(--ui-bg-color);
  background-size: 410px auto;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: auto;
}
#under {
  /* min-height: 20vh; */
}
#logo {
  margin: 0;
  position: relative;
  margin-top: 40px;
  margin-left: 25px;
  margin-bottom: 40px;
  font-size: 38px;
  color: var(--brand-primary);
}

#overlay {
  border-radius: 35px 35px 0 0;
  /* padding-top: 15px; */
  padding-bottom: 45px;
}

.mainHeader {
  color: var(--ui-text-color);
  margin-left: 15px;
  text-transform: uppercase;
  font-size: 18px;
}
.mainHeaderCount {
  color: #8b8b94;
}


@media only screen and (max-width: 525px) {
  #app {
    background-color: var(--ui-nav-bg-color);
  }
  #overlay {
    background: var(--ui-bg-color);
  }
}