@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');

:root {
  --brand-primary: #ff3535;
  --brand-primary-dark: #ca2e2e;
}
/* @media (prefers-color-scheme: dark) {
  body {
    background: #230808;
  }
} */

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
  height: 100vh;
}

#__next {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 40px;
  margin-bottom: 40px;
}